<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="time_tracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <time_tracker.Properties.Settings>
            <setting name="MondayTarget" serializeAs="String">
                <value>420</value>
            </setting>
            <setting name="TuesdayTarget" serializeAs="String">
                <value>420</value>
            </setting>
            <setting name="WednesdayTarget" serializeAs="String">
                <value>420</value>
            </setting>
            <setting name="ThursdayTarget" serializeAs="String">
                <value>420</value>
            </setting>
            <setting name="FridayTarget" serializeAs="String">
                <value>420</value>
            </setting>
            <setting name="AutoReminder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowSnapping" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowPosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="HistoryFormActiveTab" serializeAs="String">
                <value />
            </setting>
            <setting name="HistoryFormPosition" serializeAs="String">
                <value>-1, -1</value>
            </setting>
            <setting name="MondayPause" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="TuesdayPause" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="WednesdayPause" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="ThursdayPause" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="FridayPause" serializeAs="String">
                <value>90</value>
            </setting>
        </time_tracker.Properties.Settings>
    </userSettings>
</configuration>